# Created by https://www.gitignore.io/api/linux,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
logs/web/*
bridge_data/conf/logrotate.d/*
bridge_data/conf/nginx/*
bridge_data/conf/uwsgi/*

# If your build process includes running collectstatic, then ...
